In [6]:
import pandas as pd
import numpy as np

raw_df = pd.DataFrame.from_csv('31461-0001-Data.tsv',sep='\t', index_col=None)

In [9]:
sa2 = raw_df[['newid','year','country','cow','r221r','r222r','r223r','r224r']]
sa2 = sa2[sa2.r221r != ' ']
sa2 = sa2[sa2.r222r != ' ']
sa2 = sa2[sa2.r223r != ' ']
sa2 = sa2[sa2.r224r != ' ']

In [10]:
trans = ["Algeria",
"Argentina",
"Belarus",
"Benin",
"Bolivia",
"Brazil",
"Burkina Faso",
"Cambodia",
"Cent. Af. Rep.",
"Chad",
"Congo",
"Cote d'Ivoire",
"El Salvador",
"Estonia",
"Ethiopia",
"Gabon",
"Georgia",
"Ghana",
"Guatemala",
"Guinea-Bissau",
"Honduras",
"Hungary",
"Indonesia",
"Madagascar",
"Mali",
"Moldova",
"Mongolia",
"Mozambique",
"Namibia",
"Nepal",
"Nicaragua",
"Niger",
"Nigeria",
"Pakistan",
"Paraguay",
"Peru",
"Philippines",
"Poland",
"Rwanda",
"Romania",
"Slovenia",
"Sudan",
"Suriname",
"Taiwan",
"Tajikistan",
"Turkey",
"Uruguay",
"Zambia",
"Zimbabwe"]

In [11]:
trans_df = sa2[sa2.country.isin(trans)]

In [12]:
trans_df

     newid  year      country  cow r221r r222r r223r r224r
17      84  1997      Algeria  615     2     2     0     0
20     130  1983    Argentina  160     1     1     1     0
60     368  1995      Belarus  370     0     1     0     0
61     368  1995      Belarus  370     0     2     1     0
62     368  1995      Belarus  370     0     1     0     0
63     369  1995      Belarus  370     0     0     0     0
66     375  2001      Belarus  370     0     1     0     0
68     375  2001      Belarus  370     0     1     0     2
69     375  2001      Belarus  370     0     0     0     0
70     375  2001      Belarus  370     0     0     0     0
71     378  2004      Belarus  370     0     1     0     0
72     378  2004      Belarus  370     0     0     0     0
73     455  1996        Benin  434     0     2     0     0
74     516  1997      Bolivia  145     0     1     1     0
75     521  2002      Bolivia  145     0     0     0     0
89     586  1994       Brazil  140     0     1     1     0
103    761  1993     Cambodia  811     0     1     0     1
104    766  1998     Cambodia  811     0     1     0     0
105    766  1998     Cambodia  811     0     0     0     3
106    766  1998     Cambodia  811     1     1     0     3
107    766  1998     Cambodia  811     0     0     0     0
108    766  1998     Cambodia  811     0     1     0     2
109    766  1998     Cambodia  811     2     2     2     3
110    771  2003     Cambodia  811     1     0     1     0
111    771  2003     Cambodia  811     2     1     0     0
112    771  2003     Cambodia  811     1     3     2     2
122   1022  2002        Congo  484     0     1     0     0
123   1022  2002        Congo  484     1     2     3     2
160   1365  1991  El Salvador   92     0     3     1     0
161   1365  1991  El Salvador   92     0     1     1     0
..     ...   ...          ...  ...   ...   ...   ...   ...
428   3696  1992      Romania  360     1     2     2     1
429   3700  1996      Romania  360     1     1     2     0
430   3700  1996      Romania  360     0     1     1     0
431   3704  2000      Romania  360     1     1     0     0
432   3708  2004      Romania  360     1     1     0     0
455   3750  2003       Rwanda  517     0     1     1     0
456   3750  2003       Rwanda  517     2     3     2     3
457   3751  2003       Rwanda  517     1     3     2     3
498   3945  1992     Slovenia  349     0     1     0     0
506   4164  1991     Suriname  115     1     1     1     0
507   4169  1996     Suriname  115     1     2     2     0
508   4173  2000     Suriname  115     1     3     3     0
511   4328  2004       Taiwan  713     0     1     0     0
512   4338  2000   Tajikistan  702     1     3     1     0
530   4555  2002       Turkey  640     0     2     0     0
565   4719  1984      Uruguay  165     0     1     0     0
579   4974  1991       Zambia  551     1     2     2     1
580   4974  1991       Zambia  551     1     2     3     0
581   4984  2001       Zambia  551     2     2     0     1
582   4984  2001       Zambia  551     2     2     1     2
583   4984  2001       Zambia  551     0     3     2     3
584   4998  1985     Zimbabwe  552     1     1     1     0
585   5013  2000     Zimbabwe  552     0     1     1     0
586   5013  2000     Zimbabwe  552     0     0     2     0
587   5013  2000     Zimbabwe  552     2     1     2     0
588   5013  2000     Zimbabwe  552     1     1     2     0
589   5013  2000     Zimbabwe  552     1     1     2     0
590   5015  2002     Zimbabwe  552     1     2     0     0
591   5015  2002     Zimbabwe  552     2     3     2     0
592   5015  2002     Zimbabwe  552     2     2     2     0

[207 rows x 8 columns]

In [14]:
for c in raw_df.country.unique():
    c_df = trans_df[trans_df.country == c]
    r111r = c_df.r221r.max()
    r112r = c_df.r222r.max()
    r113r = c_df.r223r.max()
    r114r = c_df.r224r.max()
    print "{0}, {1}, {2}, {3}, {4}".format(c,r111r, r112r, r113r, r114r)

Afghanistan, nan, nan, nan, nan
Albania, nan, nan, nan, nan
Algeria, 2, 2, 0, 0
Angola, nan, nan, nan, nan
Argentina, 1, 1, 1, 0
Armenia, nan, nan, nan, nan
Azerbaijan, nan, nan, nan, nan
Bangladesh, nan, nan, nan, nan
Belarus, 0, 2, 1, 2
Benin, 0, 2, 0, 0
Bolivia, 0, 1, 1, 0
Bosnia-Herz, nan, nan, nan, nan
Botswana, nan, nan, nan, nan
Brazil, 0, 1, 1, 0
Bulgaria, nan, nan, nan, nan
Burundi, nan, nan, nan, nan
Cambodia, 2, 3, 2, 3
Cameroon, nan, nan, nan, nan
Chile, nan, nan, nan, nan
Colombia, nan, nan, nan, nan
Congo, 1, 2, 3, 2
Costa Rica, nan, nan, nan, nan
Cote d'Ivoire, nan, nan, nan, nan
Croatia, nan, nan, nan, nan
Czech Rep., nan, nan, nan, nan
Dom. Rep., nan, nan, nan, nan
Ecuador, nan, nan, nan, nan
El Salvador, 2, 3, 3, 0
Eq. Guinea, nan, nan, nan, nan
Estonia, 1, 1, 1, 0
Fiji, nan, nan, nan, nan
France, nan, nan, nan, nan
GDR, nan, nan, nan, nan
Gambia, nan, nan, nan, nan
Georgia, 2, 3, 3, 3
Ghana, 2, 2, 1, 0
Grenada, nan, nan, nan, nan
Guatemala, 2, 2, 2, 1
Guinea, nan, nan, nan, nan
Guyana, nan, nan, nan, nan
Haiti, nan, nan, nan, nan
Honduras, 1, 2, 3, 0
Hungary, 1, 1, 0, 0
Indonesia, 2, 3, 2, 2
Jamaica, nan, nan, nan, nan
Kazakhstan, nan, nan, nan, nan
Kenya, nan, nan, nan, nan
Kyrgyzstan, nan, nan, nan, nan
Latvia, nan, nan, nan, nan
Lesotho, nan, nan, nan, nan
Liberia, nan, nan, nan, nan
Lithuania, nan, nan, nan, nan
Macedonia, nan, nan, nan, nan
Madagascar, 2, 1, 2, 0
Malawi, nan, nan, nan, nan
Malaysia, nan, nan, nan, nan
Mali, 0, 2, 0, 0
Mauritius, nan, nan, nan, nan
Mexico, nan, nan, nan, nan
Moldova, 1, 2, 2, 0
Mongolia, 2, 1, 1, 1
Morocco, nan, nan, nan, nan
Mozambique, 2, 3, 3, 3
Namibia, 1, 2, 1, 0
Nepal, 1, 2, 2, 0
Nicaragua, 2, 2, 2, 1
Niger, 0, 3, 0, 3
Nigeria, 3, 3, 3, 2
P. N. Guinea, nan, nan, nan, nan
Pakistan, 1, 2, 2, 0
Panama, nan, nan, nan, nan
Paraguay, 1, 2, 3, 0
Peru, 1, 3, 1, 2
Philippines, 3, 3, 3, 2
Poland, 1, 1, 0, 0
Romania, 2, 3, 2, 1
Russia, nan, nan, nan, nan
Rwanda, 2, 3, 2, 3
S. Africa, nan, nan, nan, nan
Senegal, nan, nan, nan, nan
Serbia, nan, nan, nan, nan
Montenegro, nan, nan, nan, nan
Sierra Leone, nan, nan, nan, nan
Slovakia, nan, nan, nan, nan
Slovenia, 0, 1, 0, 0
Solomon Is., nan, nan, nan, nan
Spain, nan, nan, nan, nan
Sri Lanka, nan, nan, nan, nan
Suriname, 1, 3, 3, 0
Swaziland, nan, nan, nan, nan
Taiwan, 0, 1, 0, 0
Tajikistan, 1, 3, 1, 0
Tanzania, nan, nan, nan, nan
Tanzania -Zanzibar, nan, nan, nan, nan
Thailand, nan, nan, nan, nan
Timor-Leste, nan, nan, nan, nan
Togo, nan, nan, nan, nan
Trinidad-Tobago, nan, nan, nan, nan
Tunisia, nan, nan, nan, nan
Turkey, 0, 2, 0, 0
USA, nan, nan, nan, nan
Uganda, nan, nan, nan, nan
Ukraine, nan, nan, nan, nan
Uruguay, 0, 1, 0, 0
Uzbekistan, nan, nan, nan, nan
Venezuela, nan, nan, nan, nan
Yemen, nan, nan, nan, nan
Zambia, 2, 3, 3, 3
Zimbabwe, 2, 3, 2, 0

In [18]:
trans_indicator_df = pd.DataFrame.from_csv('trans_indicator_dayof.csv')

In [19]:
print "r111r pct: {0}".format(len(trans_indicator_df[trans_indicator_df.r221r >= 2])/float(len(trans_indicator_df)))
print "r112r pct: {0}".format(len(trans_indicator_df[trans_indicator_df.r222r >= 2])/float(len(trans_indicator_df)))
print "r113r pct: {0}".format(len(trans_indicator_df[trans_indicator_df.r223r >= 2])/float(len(trans_indicator_df)))
print "r11rr pct: {0}".format(len(trans_indicator_df[trans_indicator_df.r224r >= 2])/float(len(trans_indicator_df)))

r111r pct: 0.414634146341
r112r pct: 0.731707317073
r113r pct: 0.512195121951
r11rr pct: 0.292682926829

In [23]:
all_indicator_df = pd.DataFrame.from_csv('all_indicators_dayof.csv')

In [24]:
print "r111r pct: {0}".format(len(all_indicator_df[all_indicator_df.r221r >= 2])/float(len(all_indicator_df)))
print "r112r pct: {0}".format(len(all_indicator_df[all_indicator_df.r222r >= 2])/float(len(all_indicator_df)))
print "r113r pct: {0}".format(len(all_indicator_df[all_indicator_df.r223r >= 2])/float(len(all_indicator_df)))
print "r11rr pct: {0}".format(len(all_indicator_df[all_indicator_df.r224r >= 2])/float(len(all_indicator_df)))

r111r pct: 0.155963302752
r112r pct: 0.275229357798
r113r pct: 0.192660550459
r11rr pct: 0.110091743119